html, body {
  font-family: calibri;
}
table {
border-collapse: collapse;
font-family: monospace;
font-size: 17px;
}
tr {
  border: 1px solid #999;
}
td {
 vertical-align: middle;
 text-align: center;
 background-color: #fff;
 padding: 1.5px;
}
.inner {
  display: inline-block;
}

#page-header {
 text-align: center;
}



.activity_no_1 {
  background-color: #ecf9ec;
}
.activity_no_2 {
  background-color: #c8eac8;
}
.activity_no_3 {
  background-color: #ffeecc;
}
.activity_no_4 {
  background-color: #ffdd99;
}
.activity_no_5 {
  background-color: #99c2ff;
}
.activity_no_6 {
  background-color: #cce0ff;
}

.row_header {
  padding: 5px;
}
.header_header {
  padding: 5px;
}

.table {
 display: table;
 margin: 5px;
 font-family: calibri;
 font-size: 12px;
}
.row {
 display: table-row-group;
}
.cell {
 display: table-cell;
 padding: 5px;
 width: 3vw;
 height: 3vh;
 border-bottom: 1px solid #999;
 border-right: 1px solid #999;
 vertical-align: middle;
 text-align: center;
 background-color: #fff;
}
.row:nth-child(1) .cell {
 border-top: 1px solid #999;
}
.cell:nth-child(1) {
 border-left: 1px solid #999;
}
.inner {
  display: inline-block;
}

#checkbox-table .row .cell {
  width: auto;
}

.arrow-right {
  display: inline-block;
  margin-left: 0.5vh;
  width: 0; 
  height: 0; 
  border-top: 0.5vh solid transparent;
  border-bottom: 0.5vh solid transparent;
  border-left: 0.5vh solid #999;
}
.light-grey {
 /*filter: brightness(93%);
 border-top: 1px solid #999; */
 background-color: #fdf;

}