html, body {
  font-family: calibri;
}
table {
border-collapse: collapse;
}
tr {
  border: 1px solid #999;
}
td {
 vertical-align: middle;
 text-align: center;
 width: 2vw;
}
.inner {
  display: inline-block;
}

#page-header {
 text-align: center;
}


.activity_no_1 {
  background-color: #ecf9ec;
}
.activity_no_2 {
  background-color: #c8eac8;
}
.activity_no_3 {
  background-color: #ffeecc;
}
.activity_no_4 {
  background-color: #ffdd99;
}
.activity_no_5 {
  background-color: #99c2ff;
}
.activity_no_6 {
  background-color: #cce0ff;
}

.row_header {
  padding: 5px;
}

