.table {
 display: table;
 font-family: calibri;
 font-size: 12px;
}
.row {
 display: table-row-group;
}
.cell {
 display: table-cell;
 border-bottom: 1px solid #999;
 /* border-right: 1px solid #999; */
 vertical-align: middle;
 text-align: center;
 background-color: white;
 width: 0.4vw;
 height: 1.4vw;
}
.row:nth-child(1) .cell {
 border-top: 1px solid #999;
}
.cell:nth-child(1) {
 border-left: 1px solid #999;
}
.cell:nth-child(2) {
 border-left: 1px solid #999;
}
.cell:last-child {
 border-right: 1px solid #999;
}
.inner {
  display: inline-block;
}
#page-header {
 font-family: calibri;
 text-align: center;
}


.activity_no_1 {
  background-color: #ecf9ec;
}
.activity_no_2 {
  background-color: #c8eac8;
}
.activity_no_3 {
  background-color: #ffeecc;
}
.activity_no_4 {
  background-color: #ffdd99;
}
.activity_no_5 {
  background-color: #99c2ff;
}
.activity_no_6 {
  background-color: #cce0ff;
}

.row_header {
  padding: 5px;
}

